<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    {% include 'navigator/menu.html' %}
    <div class="content">
        <h1>포켓몬 등록</h1>

        <form method="POST" action="{{ url_for('main.insert_pocketmon') }}">
            <label for="name">이름:</label>
            <input type="text" id="name" name="name" required><br><br>

            <label for="type">속성:</label>
            <input type="text" id="type" name="type" required><br><br>

            <input type="submit" value="추가">
        </form>

        
    </div>

</body>